block mainVars

doctype html
include default-partials/ie-comment
  include default-partials/html-head
body(class=page_class)
  block content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='/js/script.js')
