meta(content='記事のタイトル', property='og:title')
meta(content='article', property='og:type')
meta(content='記事の説明', property='og:description')
meta(content='記事のURL', property='og:url')
meta(content='画像のURL', property='og:image')
meta(content='サイトのタイトル', property='og:site_name')
meta(content='言語', property='og:locale')
meta(content='facebookのユーザーID', property='fb:admins')
meta(content='facebookのアプリID', property='fb:app_id')
