extend ./layout/layout.jade

block  mainVars
  - title = index.title
  - author = 'author'
  - description = 'description'
  - keywords = 'keywords'
  - page_class = 'top'
block content
  h1= index.h1
